WHATSAPP_PHONE_NUMBER_ID=820347314498705
WHATSAPP_ACCESS_TOKEN=on14Y8P2QJ2U9IvRtZyavnF04qWZTUIt0YGDtgmREFTSAvSdtctRAOEA2fyXfS6REFTSAOk3ovallJbP24Yr9REFTSAEkgK9wn9Mt8EAkAAXVp9xtuRcTwt0IYiCsGDdBXQXAHfjL0
NEXT_PUBLIC_WHATSAPP_NUMBER=254708427694


# WHATSAPP_PHONE_NUMBER_ID=589622160904788
# WHATSAPP_ACCESS_TOKEN=jvxlusJVNbSDCjYBx6nJf6LIXymEwC4MwGumMGAn4kdYSJeqCUzI2QHnSojSeMlSRLvob1fVU5ERVJTQ09SRQrZkhIpat2mhaACTuHREFTSAIXs9hg3oqliTIVlNxVWCjXmHwyNXsVU5ERVJTQ09SRQ1Y8
# NEXT_PUBLIC_WHATSAPP_NUMBER=254726133830

PORT=3001

NEXT_PUBLIC_ALLOW_DESKTOP_TESTING=true

API_URL=https://kratest.pesaflow.com/api

NEXT_PUBLIC_ANALYTICS_WRITE_KEY=wk_Q_tvArtRtXBWQjLyRRYFlCn3dgYG1564
NEXT_PUBLIC_ALLOW_DESKTOP_TESTING=true